<div class="about row">
    <div class="col-md-12">
        <h2>About me </h2>
        <br/>
        <p>我，兔子托尼啊</p>
        <p>托尼，对你们理发店经常遇到到Tony老师</p>
        <p>我算下工作好久了，从C#、Android、运维、Java都有涉及，写写js也无伤大雅。</p>
        <p>2013年，开始在 <a href="https://blog.csdn.net/rui888">CSDN活跃帮助论坛小伙伴解决技术问题</a>，现在一直是CSDN版主。</p>
        <p>我最喜欢的一句话是：保持饥饿、保持敏感。</p>
        <p>我是兔子托尼啊，专注美发的程序员！</p>

        <p>
            <strong>个人公众号</strong>：<a href="/assets/images/qrcode.jpg" target="_blank">兔子托尼啊</a>，“分享技术、感悟人生”，欢迎关注
        </p>


        <h2>Contact</h2>

        <p><strong>Personal</strong></p>
        <ul>
            <li>Email：<a href="mailto:{{ site.email }}" target="_top">{{ site.email }}</a></li>
            <li>我的微信：<strong>tony671613</strong>（备注：博客）</li>
        </ul>

        <p><strong>Group</strong></p>
        <p><em>创建了一些便于交流的微信群，大家如果有兴趣可以加入，请不要重复入群！加入方式：关注<a href="/assets/images/qing_gee.jpg"
                                                           target="_blank">兔子托尼啊</a>公众号：，回复关键字<strong>加群</strong></em></p>

        <ul>
            <li>读者</li>
        </ul>

        <p><em>喜欢 QQ 的可以入群（<strong>1020727812</strong>）交流 IT 人的技术与生活</em></p>

        <h2>
            Note
        </h2>

        <p>
            自从写博客开始，开始陆续有一些机会和同行在线上交流，希望我们大家都能称为朋友，交流技术和人生。
        </p>
        <p> 大家的时间都很宝贵，为了更高效的交流，我希望您可以这样</p>
        <ul>
            <li>请先自我介绍一下，您在那家公司，做什么工作，怎么称呼？希望和您交流什么？任何深入的交流都是建立在相互了解之上。
            </li>
            <li>有任何技术问题都可以和我交流，知无不言。
            </li>
            <li> 我不一定能及时回复您，我看到一定回复。
            </li>
            <li>
                欢迎转载，请在文章页面明显位置给出原文连接，否则保留追究法律责任的权利；如在微信公众号转载请务必附上<a href="/assets/images/qrcode.jpg" target="_blank">博客公众号二维码</a>，谢谢。
            </li>
        </ul>

        <p>
            最后，还是感谢您在茫茫人海中阅读了我的文章。
        </p>

        <h2>
            Donate
        </h2>

        <p>本站所有文章和源码均免费开放，您如果喜欢可以赞助，赞助仅表示对文章的赞赏与支持，并不会受到特殊的待遇。如果我的文章帮助或者触动了你，可以自愿赞赏1元也是爱❤️:)
        </p>

        <p align="center">
            <img src="/assets/images/reward_qrcode.jpg" style="width: 450px;height: 450px"/>

            <br/>
            微信扫一扫
        </p>

        <!-- Comments -->
        <div class="comment">
            {% include comments.html %}
        </div>

    </div>
</div>
